body{
  background: white url("images/background.4b10d6a28733.png");
}

.navbar{
    border-radius:0;
}

.navbar-brand{
  font-family:'Satisfy', cursive;
}

@media screen and (max-width: 600px) {



  .row {
    width:340px;
    background-color:white;
    margin-right:0px;
    margin-left:10px;
    padding-left:30px;
    padding-top:0px;
    padding-bottom:0px;
    padding-right: 10px;
  }
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;

  }


.img:hover {

    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}
}

/* Style the counter cards */
