body{
  background: white;
  padding-bottom: :10px;
}

.navbar navbar-inverse{
  background-color:red;
}
.navbar{
    border-radius:0;
}

.navbar-brand{
  font-family:'Satisfy', cursive;
}


/* Style the counter cards */
